.big-logo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 57px;
    width: 100%;
    bottom: 6px;
    left: 0;
  }
}

.big-logo--form {
  height: 164px;
  background-image: url("../img/back-form-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -56px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-form-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    height: 296px;
    background-image: url("../img/back-form-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-form-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 307px;
    background-image: url("../img/back-form-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-form-desktop@2x.jpg");
    }
  }
}

.big-logo__text {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    top: 77px;
  }
}

.big-logo__text--form {
  top: 51px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    top: 95px;
  }

  @media (min-width: $desktop-width) {
    top: 101px;
  }
}

.big-logo__image {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
