.big-logo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 57px;
    width: 100%;
    bottom: 6px;
    left: 0;
  }
}

.big-logo__text {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    top: 77px;
  }
}

.big-logo__text--form {
  top: 51px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    top: 95px;
  }

  @media (min-width: $desktop-width) {
    top: 101px;
  }
}

.big-logo__image {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.big-logo__image--form {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 301px;
  }
}
