.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: $light-blue;
  color: $white;
  text-decoration: none;
  padding: 15px 32px 18px;
  display: inline-block;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: $midle-blue;
  }

  &:active {
    background-color: $dark-blue;
  }
}
