.description {
  min-width: 320px;
  text-align: center;
  margin-top: 50px;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.description__text {
  font-size: 14px;
  line-height: 26px;
}
