.main-nav__list {
  @include clear-list;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.main-nav__toggle {
  position: absolute;
  bottom: -38px;
  right: 14px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--form {
  bottom: -42px;
}
