.main-nav__list {
  @include clear-list;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  bottom: -38px;
  right: 20px;
  border: none;
  display: none;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 23px;
    height: 22px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
