.main-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-nav__toggle {
  position: absolute;
  bottom: -50px;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
