.page-footer__wrapper {
  text-align: center;
}

.page-footer__container {
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
    padding-bottom: 33px;
  }
}

.page-footer__social {
  text-align: center;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 399px;
    margin-left: 60px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 556px;
    margin-left: 119px;
  }
}

.page-footer__copyright {
  width: 128px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 119px;
  }
}
