.post__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.post__author {
  line-height: 24px;
  text-transform: none;
  color: $dark;
}

.post__like-number {
  font-weight: 700;
  line-height: 24px;
}
