.reason__wrapper {
  background-color: $light-blue;
  color: $white;
}

.reason__wrapper-grey {
  background-color: $grey;
}

.reason__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
