.site-list {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cross.svg");
    background-color: transparent;
    width: 22px;
    height: 22px;
    top: 17px;
    right: 20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.site-list__item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 6px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: $midle-blue;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }

  &:active {
    background-color: $dark-blue;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    box-shadow: none;
    width: 20%;
  }
}

.site-list__item:nth-child(2) {
  margin-right: auto;
}

.site-list__item:last-child {
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.site-list__item a {
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  &:hover {
    @media (min-width: $tablet-width) {
      color: $light-blue;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      color: $black;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 14px;
    line-height: 26px;
  }
}
