.social__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.social__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $light-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $midle-blue;
  }

  &:active {
    background-color: $dark-blue;
  }
}
