.social__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.social__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
