$white: #ffffff;
$black: #000000;
$dark: #333333;
$light-blue: #81b3d2;
$midle-blue: #669ec0;
$dark-blue: #5496bd;
$grey: #eeeeee;
$light-grey: #f2f2f2;
$midle-grey: #e5e5e5;
$contact-grey: #e6e6e6;
$line-grey: #dbdbdb;
$dadk-grey: #d6d6d6;
$braun: #766357;
$dark-braun: #604e43;

$tablet-width: 768px;
$desktop-width: 1200px;
